* {
    font-family: 'Raleway', sans-serif;
    /* vertical-align: baseline; */
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
}

html {
    background-color: white;
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

.d-none {
    display: none !important;
}

.inner-size {
    max-width: 800px;
    margin: 0 auto;
}

.bar-container {
    background-color: #d1d3d4;
    border-bottom: 2px ridge black;
    width: 100%;
    position: fixed;
    z-index: 4;
}

.bar {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: none;
    color: #006fd8;
}

.title {
    font-size: 20px;
    margin: 0;
    padding: 5px 15px 0;
}

nav {
    height: 43px;
    display: flex;
    align-items: center;
}

.bar ul {
    margin: 0;
    list-style-type: none;
    list-style-image: none;
    display: flex;
    align-items: center;
    width: 100px;
    padding: 5px 15px 0;
}

.bar li {
    margin: 5px 5px 0;
    max-width: 40%;
}

.bar li img {
    max-width: 100%;
    border-radius: 5px;
}

.hero-container {
    padding-top: 125px;
    border-bottom: 2px ridge black;
    width: 100%;
    height: 500px;
    background-image: url("../img/hero-pic.jpg");
    background-repeat: no-repeat;
    background-position: center 5%;
    margin: auto;
}

.hero {
    height: 400px;
}

.hero-greet {
    /* margin: 50px 0 0 50px; */
    font-weight: 5;
}

.hero h1 {
    font-size: 24px;
    margin: 0;
    padding-left: 10%;
    text-indent: -30px;
}

/* contact form */

#contact-form {
    background-image: linear-gradient(315deg, #006fd8 0%, #fff 75%);
    color: #006fd8;
    width: 320px;
    border-radius: 15px;
    border: 1px solid #d1d3d4;
    position: relative;
    z-index: 3;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
}

.form-input {
    border-radius: 5px;
    padding: 10px;
}

#contact-form button {
    background-image: linear-gradient(315deg, #006fd8 0%, #fff 75%);
    border-radius: 10px;
    color: #006fd8;
    width: 150px;
    padding: 15px;
    font-size: 24px;
    margin: 20px;
}

.form-error {
    color: red;
}

/* main content */

.main-container {
    border-bottom: 2px ridge black;
}

.main {
    margin: 30px auto;
}

.main header {
    margin-bottom: 50px;
}

.main header p {
    margin: 20px 20% 0;
}

.margin-left-5-percent {
    margin-left: 5%;
}

.js-projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
}

.js-projects-buttons button {
    padding-top: 4px;
    width: 90px;
    height: 30px;
    background-color: #222;
    color: #d1d3d4;
    border-radius: 15px 15px 0 0;
    box-shadow: #006fd8 5px 5px;
    /* z-index: -1; */
}

.js-projects-buttons {
    margin: 20px 20% 0;
}

.js-projects-display {
    /* height: 620px; */
    width: 420px;
    /* display: flex;
    justify-content: center; */
    /* align-items: center; */
    background-color: #222;
    color: #d1d3d4;
    border-radius: 15px;
    margin-bottom: 50px;
    box-shadow: #006fd8 5px 5px;
}

.toBeReplaced {
    text-align: center;
    padding-top: 50%;
    display: block;
    height: 250px;
    margin: auto;
}

/* weather app */

.weather-container{
    width: 90%;
    margin: 3rem auto;
    text-align: center;
}
.weather-container h3{
    margin: 1.5rem;
    font-size: 40px;
}
.weather-container input{
    padding: 20px 10%;
    width: 80%;
    border-radius: 5px;
    background-color: #d1d3d4;

}

.weatherIcon{
    position: relative;
    background-color: #d1d3d4;
    top: -50px;
    border-radius: 50%;
    width: 100px;
    margin: 0 auto -50px;
}
.card {
    background-color: #569c84;
    margin: 60px auto;
    padding: 30px 0;
    border-radius: 15px;
    width: 90%;
}

.time{
    display: none;
}

/* todo app */

/* .todo-container {
    width: 400px;
} */

.todo-container h3 {
    font-size: 40px;
    margin-top: 48px;
}

.todo-container header {
    margin: auto 20px;
    width: 90%;
}

.add {
    display: flex;
    flex-direction: column;
}

.add input{
    padding: 20px 10%;
    width: 80%;
    border-radius: 5px;
}

.todo-search input{
    margin-top: 15px;
    padding: 5px 2%;
    width: 50%;
    border-radius: 5px;
}

.todo-container input[type=text],
.todo-container input[type=text]:focus {
    color: #fff;
    border: none;
    background: #d1d3d4;
    max-width: 400px;
}

.todos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    list-style: none;
    margin-bottom: 30px;
}

.todos li {
    background: #423a6f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    padding: 4px;
    margin: 4px auto;
    width: 40%;
}

.delete {
    cursor: pointer;
}

.filtered{
    display: none !important;
}

/* reviews section */

.reviews-container{
    margin: 30px 10%;
    width: 60%;
    box-shadow: #006fd8 5px 5px;
    border-radius: 15px;
}

.reviews-container p {
    font-size: .75em;
    padding: 10px;
}

.reviews-right {
    display: flex;
    justify-content: end;
}

.reviews-img-and {
    display: flex;
}

.reviews-img-and img {
    width: 50%;
}

.reviews-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.main footer {
    margin-top: 50px;
}

.main footer p {
    margin: 20px 20% 0;
}

.d-none {
    display: none !important;
}

/* Button Animation */

.contact-button {
    margin: 150px 0 0 20%;
    width: 180px;
    height: 70px;
    position: relative;
    z-index: 1;
}

.cta-button {
    border-radius: 5px;
    display: inline-block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #00e1ff;
    background-color: #26717c;
    background-image: linear-gradient(315deg, #006fd8 0%, #ffffff 75%);
    color: #006fd8;
    border: 0;
    margin: 0px auto;
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    left: 0;
    z-index: 2;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.cta-button:hover {
    transform: scale(1.3);
    /* box-shadow: rgba(0,0,0,0.25) 0px 25px 50px -12px; */
    border-radius: 50px;
}

.prt {
    cursor: pointer;
    opacity: 0;
    transition: all 0.3s;
    transition-timing-function: ease-in-out;
}

.contact-button .prt {
    opacity: 1;
}

.particle {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: -30px;
    left: 15px;
    animation: rotate-y 2s infinite;
    animation-delay: .5s;
    animation-timing-function: ease-in-out;
    z-index: 3;
}

 .particle2 {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #669fd4;
    position: absolute;
    top: -30px;
    left: 165px;
    animation: rotate-x 2s infinite;
    animation-timing-function: ease-in-out;
    z-index: 3;
}

@keyframes rotate-y {
    0% {
        position: -20px;
        left: 15px;
        z-index: 3;
    }

    50% {
        top: 80px;
        left: 165px;
        z-index: 3;
        background: #006fd8;
    }

    51% {
        z-index: 1;
    }

    100% {
        z-index: 1;
        left: 15px;
        background: #fff;
    }
}

@keyframes rotate-x {
    0% {
        position: 20px;
        right: 165px;
        z-index: 3;
    }

    50% {
        top: 80px;
        left: 15px;
        z-index: 3;
        /* background: #006fd8; */
        background: #bed8f0;
    }

    51% {
        z-index: 1;
    }

    100% {
        z-index: 1;
        left: 165px;
        background: #669fd4;
    }
}



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 480px) {

.main header p {
    margin: 20px 0 0 5%;
}

.hero h1 {
    font-size: 14px;
    margin: 0;
    padding-left: 15px;
    text-indent: 8px;
}

.contact-button {
    margin: 335px auto 0;
    width: 180px;
    height: 70px;
    position: relative;
    z-index: 1;
}

.js-projects-display {
    /* height: 620px; */
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    color: #d1d3d4;
    border-radius: 0 0 15px 15px;
    margin-bottom: 50px;
    box-shadow: #006fd8 5px 5px;
}

.js-projects-buttons {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.hero-container {
    background-position: 55% 5%;}

.reviews-container{
    margin-top: 30px;
    width: 90%;
    box-shadow: #006fd8 5px 5px;
    border-radius: 15px;
}

.reviews-right {
    display: flex;
    justify-content: center;
}

.reviews-left {
    display: flex;
    justify-content: center;
}

.reviews-left .reviews-container .reviews-img-and {
    display: flex;
    flex-direction: row-reverse;
}

.main footer p {
    width: 90%;
    margin: 0 auto;
}

}

/* @media only screen and (min-width: 768px) {

} */

/* @media only screen and (min-width: 1140px) {

} */