* {
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: baseline;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
}

html {
    background-color: #d1d3d4;
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

.bar-container {
    background-color: #d1d3d4;
    border-bottom: 2px ridge black;
    width: 100%;
    position: fixed;
}

.bar {
    max-width: 1280px;
    font-size: 12px;
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin: 0 10%;
    padding: none;
}

.title {
    font-size: 20px;
    margin: 0;
    padding: 5px 5px 0;
}

.hero-container {
    padding-top: 45px;
    border-bottom: 2px ridge black;
    width: 100%;
    background-image: url("../img/pp.jpg");
    background-repeat: no-repeat;
    background-position: right;
}

.hero {
    margin: 0 10%;
    max-width: 1280px;
    height: 400px;
}

.hero-greet {
    margin: 150px 0 0 50px;
    font-weight: 5;
}

.contact-button {
    margin: 50px;
}

h1 {
    font-size: 20px;
    margin: 0;
    padding: 5px 5px 0;
    font-weight: 100;
}

ul {
    list-style-type: none;
    list-style-image: none;
    display: flex;
    width: 100px;
    padding: 5px 5px 0;
}

li {
    margin: 5px 5px 0;
    max-width: 40%;
}

li img {
    max-width: 100%;
    border-radius: 5px;
}

.main-container {
    margin: 30px 10%;
}

.main header {
    margin-bottom: 50px;
}

.main header p {
    margin: 20px 20% 0;
}

.js-projects-container {
    margin: 20px 20% 0;
    display: flex;
    justify-content: space-around;
}

.js-projects-container button {
    padding-top: 4px;
    width: 120px;
    height: 30px;
    background-color: #222;
    color: #d1d3d4;
    border-radius: 15px 15px 0 0;
}

.js-projects-display {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    color: #d1d3d4;
    border-radius: 15px;
    margin-bottom: 50px;
}

.reviews-container{
    margin-top: 30px;
    width: 60%;
}

.reviews-right {
    display: flex;
    justify-content: end;
}

.reviews-img-and {
    display: flex;
}

.reviews-img-and img {
    width: 50%;
}

.reviews-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.main footer {
    margin-top: 50px;
    border-top: 2px ridge black;
}

.main footer p {
    margin: 20px 20% 0;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

/* @media only screen and (min-width: 480px) {

} */

/* @media only screen and (min-width: 768px) {

} */

/* @media only screen and (min-width: 1140px) {

} */